<!DOCTYPE html>
<html>

<head>
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="./../../Content/images/extintoresIcon.ico">

  <link rel="stylesheet" href="./../../Content/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./../../Content/style.css">
  <link rel="stylesheet" href="./../../Content/style_footer.css">
  <link rel="stylesheet" href="./../../Content/font-awesome-4.7.0/css/font-awesome.min.css">

  <title>Extintores Universales - A cerca </title>
</head>

<body>
  <!--Acá se carga el header-->
  <header data-load="./../Shared/header.html">
  </header>

  <div class="container container-with-margin"><br class="visible-xs" />

    <ol class="breadcrumb">
      <li><a href="./Index.html">Inicio</a></li>
      <li class="active">¿Quienes somos?</li>
    </ol>

    <h3><strong>A cerca de nosotros</strong></h3>
    <div class="row" >
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <br/>
        <p>
          Extintores Universales, una empresa que brinda diferentes servicios en lo que se refiere a asesoría, venta, recarga y mantenimiento
          de sus extintores.</p>
        <p>Nuestros asesores le brindan la más completa información en cada uno de los diferentes productos que ofrecemos para
          su mayor bienestar, permitiendo un entendimiento de cómo utilizar los diferentes extintores creados para cada necesidad.</p>
        <p class="hidden-xs">Contamos con diferentes normas para realizar nuestra labor en armonía con el medio ambiente, para poder brindar seguridad,
          calidad y transparencia a cada uno de nuestros clientes.</p><hr/>
        <h4 class="text-center"><strong>Misión</strong></h4>
        <p>Ofrecer productos y servicios relacionados con el área de la seguridad, salvaguardar la salud, vida y patrimonio
          de las personas e instituciones al ofrecer el mejor servicio en la venta y mantenimiento de los diferentes extintores.
        </p>
        <h4 class="text-center"><strong>Visión</strong></h4>
        <p>Ser líderes en la rama de la seguridad y especialistas en seguridad contra incendios en Costa Rica, ser reconocidos
          entre los clientes por la calidad de nuestros servicios y productos. </p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 image_responsive">
        <img src="./../../Content/images/portfolio-1.jpg" class="center-block" alt="nosotros">
      </div>

    </div>

    <hr />

  </div>

  <!--Acá se carga el footer-->
  <footer data-load="./../Shared/footer.html">
  </footer>

  <script type="text/javascript" src="./../../Content/js/libs/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="./../../Content/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./../../Content/js/libs/modernizr-2.5.3.min.js"></script>
  <script type="text/javascript" script-name="berkshire-swash" src="http://use.edgefonts.net/berkshire-swash.js"></script>
  <script type="text/javascript" src="../../Content/js/session.js"></script>

  <!--Esto funciona para cargar el header y/o footer-->
  <script>
    $(function () {
      $("[data-load]").each(function () {
        $(this).load($(this).data("load"), function () {});
      });
    })
  </script>

  <script>
    var anchor = document.querySelectorAll('button');

    [].forEach.call(anchor, function (anchor) {
      var open = false;
      anchor.onclick = function (event) {
        event.preventDefault();
        if (!open) {
          this.classList.add('close');
          open = true;
        } else {
          this.classList.remove('close');
          open = false;
        }
      }
    });
  </script>

</body>

</html>