<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="./../../Content/images/extintoresIcon.ico">
	<link rel="icon" href="./../../Content/images/extintoresIcon.ico">

	<link rel="stylesheet" href="./../../Content/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="./../../Content/style.css">
	<link rel="stylesheet" href="./../../Content/font-awesome-4.7.0/css/font-awesome.min.css">

	<title>Extintores - Preguntas frecuentes</title>
</head>

<body>
	<!--Acá se carga el header-->
	<header data-load="./../Shared/header.html">
	</header>

	<div class="container container-with-margin">

		<ol class="breadcrumb">
			<li><a href="/proyecto/Views/Home">Inicio</a></li>
			<li class="active">Preguntas frecuentes</li>
		</ol>

			<div class="container">
				<div class="row">
					<div class="main col-sm-12">

						<h2>Preguntas frecuentes</h2><br />

						<div class="tab-pane fade in active">

							<div class="panel-group collapse-style-1" id="accordion-faq">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseOne" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
													</a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse">
										<div class="panel-body">
											Enim, deleniti atque error corporis, laudantium consequuntur et ipsum velit, laboriosam sint inventore nam quo dolorum. Totam,
											facilis. Unde nobis cumque quam modi quia doloribus nesciunt eveniet, reprehenderit iste blanditiis ipsa, dolor
											nemo nulla cum laudantium aperiam atque, consequuntur, inventore possimus accusamus nisi a quaerat totam est aliquid
											alias amet id nulla quia illum illo. Quibusdam expedita omnis est hic, ipsum quo impedit!
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseTwo" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
													</a>
										</h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse">
										<div class="panel-body">
											Distinctio dolor assumenda optio a adipisci inventore culpa tempora molestias fuga cupiditate alias sint labore, quod minus
											iusto ad earum, vel nihil ipsum necessitatibus maxime facere? Corporis inventore, saepe placeat labore rerum assumenda
											repudiandae, eveniet aperiam dolor quibusdam porro nesciunt omnis voluptatum, perspiciatis. Doloremque perspiciatis
											quas sunt, similique modi facere a atque unde impedit assumenda accusantium vel animi.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseThree" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Molestiae hic, optio libero nobis praesentium amet delectus nihil.
													</a>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse">
										<div class="panel-body">
											Excepturi illo labore architecto quasi maxime voluptas, laborum rerum non fuga. Sit rerum doloremque hic voluptas harum voluptatibus
											obcaecati ducimus atque magni, quod eius dolores commodi voluptates! Reiciendis porro magnam tempore ipsa obcaecati
											fuga earum unde libero, sapiente voluptatibus nemo exercitationem minus praesentium, itaque cupiditate qui assumenda
											quas quidem sed, nisi animi debitis quaerat. Quo magni incidunt enim aspernatur.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFour" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Labore soluta aspernatur a optio incidunt molestias.
													</a>
										</h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse">
										<div class="panel-body">
											Quam dolor ipsa rerum, quasi ipsam aperiam molestias corporis debitis voluptas magni vero assumenda quidem odit beatae ullam
											eaque et nesciunt saepe officia cupiditate expedita laboriosam quae. Ea suscipit eius repellat rem voluptate consectetur
											quaerat, similique architecto enim fugiat vitae dolorem expedita. Voluptatum, repellendus dolores iure sit, necessitatibus
											repellat nemo atque provident perferendis ducimus. Distinctio quisquam perspiciatis?
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFive" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Quam dolor ipsa rerum, quasi ipsam aperiam molestias corporis debitis.
													</a>
										</h4>
									</div>
									<div id="collapseFive" class="panel-collapse collapse">
										<div class="panel-body">
											Ipsam quod impedit, ea necessitatibus quasi, quis rem nemo laboriosam labore, temporibus fugit placeat, consectetur eaque
											qui amet! Cum ab nulla voluptatibus, velit eius tempore veniam, quos voluptate iusto commodi error, obcaecati
											debitis, qui ad reiciendis officiis cumque! Repudiandae quos distinctio dolor consequatur commodi quae iusto beatae,
											laborum saepe enim voluptates tempore tenetur expedita eveniet eius recusandae id eaque, sequi illo neque.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseSix" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Aliquam quas cumque officia ab laudantium corporis dolorem consequatur cupiditate.
													</a>
										</h4>
									</div>
									<div id="collapseSix" class="panel-collapse collapse">
										<div class="panel-body">
											Vero odit est ullam. Velit distinctio, eligendi quo enim quaerat. Aliquam quas cumque officia ab laudantium corporis dolorem
											consequatur cupiditate quam quia delectus iusto ad non neque facere praesentium, odio a repellendus. Laudantium
											aliquam at maxime iure hic sapiente, est dicta accusamus numquam dolorum quasi saepe officiis vero nobis quo aut
											praesentium, fugit adipisci illo voluptatum quibusdam? Assumenda fuga explicabo aperiam, aspernatur!
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseSeven" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Veniam iure aspernatur quod possimus provident voluptate dolore.
													</a>
										</h4>
									</div>
									<div id="collapseSeven" class="panel-collapse collapse">
										<div class="panel-body">
											Doloribus perspiciatis quos dolore eum facere, id alias ipsam placeat corporis repudiandae adipisci, ratione ipsum odio culpa
											et laborum aut similique nulla voluptates velit optio mollitia, autem. Architecto ratione eligendi reprehenderit
											vitae, omnis eius dolorem nobis quaerat quo fugiat, quisquam, in itaque doloribus veniam tenetur ipsum atque totam
											fugit modi. Veniam iure aspernatur quod possimus provident voluptate dolore magnam voluptas architecto beatae
											assumenda?
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseEight" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Veritatis repellat aliquam labore adipisci, ut placeat libero in, consectetur beatae.
													</a>
										</h4>
									</div>
									<div id="collapseEight" class="panel-collapse collapse">
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellat aliquam labore adipisci, ut placeat libero in,
											consectetur beatae soluta mollitia quia vel amet nobis? Ipsa dolores ipsum laudantium perferendis placeat molestias
											libero aliquam officia obcaecati maiores sunt esse quisquam laboriosam impedit commodi rerum eius ipsam quaerat
											reiciendis quis tempora necessitatibus veniam beatae, ad architecto. Assumenda quia ipsum expedita veritatis facere
											magni error.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseNine" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Incidunt fugit, velit earum in explicabo, voluptate quia iusto eveniet dicta.
													</a>
										</h4>
									</div>
									<div id="collapseNine" class="panel-collapse collapse">
										<div class="panel-body">
											Doloribus perspiciatis quos dolore eum facere, id alias ipsam placeat corporis repudiandae adipisci, ratione ipsum odio culpa
											et laborum aut similique nulla voluptates velit optio mollitia, autem. Architecto ratione eligendi reprehenderit
											vitae, omnis eius dolorem nobis quaerat quo fugiat, quisquam, in itaque doloribus veniam tenetur ipsum atque totam
											fugit modi. Veniam iure aspernatur quod possimus provident voluptate dolore magnam voluptas architecto beatae
											assumenda.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseTen" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Assumenda reprehenderit minus quas odit obcaecati unde.
													</a>
										</h4>
									</div>
									<div id="collapseTen" class="panel-collapse collapse">
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reprehenderit minus quas odit obcaecati unde, necessitatibus
											id sit corrupti dolore, pariatur, rem officiis sequi quasi molestiae magnam enim laudantium maxime vel commodi
											adipisci illo non quibusdam porro accusamus. Tempora ducimus ut quis pariatur ex quasi deserunt, voluptatum consectetur
											odit. Architecto magnam ipsa quam, repellat praesentium, minima dignissimos minus maxime expedita?
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseEleven" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Architecto ratione eligendi reprehenderit vitae, omnis eius dolorem nobis quaerat.
													</a>
										</h4>
									</div>
									<div id="collapseEleven" class="panel-collapse collapse">
										<div class="panel-body">
											Eius repellendus voluptas molestiae, voluptatem, debitis ea iure quam repellat incidunt minus facere magnam, officiis consequuntur
											rerum. Ratione accusamus delectus quam nisi repellendus dolore quos incidunt officia asperiores, quisquam quis
											recusandae odit perspiciatis cumque eum modi dolorum velit tempore laboriosam totam! Veritatis similique beatae
											vel eum ad quidem, officia hic autem facilis et architecto reiciendis recusandae sint, ullam rerum quisquam.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>

	<!--Acá se carga el footer-->
	<footer data-load="./../Shared/footer.html">
	</footer>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="./../../Content/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./../../Content/js/libs/modernizr-2.5.3.min.js"></script>
	<script type="text/javascript" script-name="berkshire-swash" src="http://use.edgefonts.net/berkshire-swash.js"></script>
	<script type="text/javascript" src="../../Content/js/script.js"></script>

	<!--Esto funciona para cargar el header y/o footer-->
	<script>
		$(function () {
			$("[data-load]").each(function () {
				$(this).load($(this).data("load"), function () {
				});
			});
		})
	</script>

	<script>
		var anchor = document.querySelectorAll('button');

		[].forEach.call(anchor, function (anchor) {
			var open = false;
			anchor.onclick = function (event) {
				event.preventDefault();
				if (!open) {
					this.classList.add('close');
					open = true;
				}
				else {
					this.classList.remove('close');
					open = false;
				}
			}
		});
	</script>

</body>

</html>