<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="./../../Content/images/extintoresIcon.ico">

	<link rel="stylesheet" href="./../../Content/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="./../../Content/style.css">
	<link rel="stylesheet" href="./../../Content/style_footer.css">
	<link rel="stylesheet" href="./../../Content/font-awesome-4.7.0/css/font-awesome.min.css">

	<title>Extintores Universales - Rutas</title>

</head>

<body>

	<!--Acá se carga el header-->
	<header data-load="./../Shared/header.html">
	</header>

	<div class="container container-with-margin"><br class="visible-xs"/>

		<ol class="breadcrumb">
			<li><a href="./Index.html">Inicio</a></li>
			<li class="active">Rutas</li>
		</ol>

		<section id="alajuela">
			<div class="container">
				<div class="row">
					<div class="main col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<h2>Ruta Alajuela</h2><br/>
						<article>
							<div id="carousel-routes" class="carousel slideInUp" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carousel-routes" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-routes" data-slide-to="1"></li>
									<li data-target="#carousel-routes" data-slide-to="2"></li>
								</ol>

								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-1.jpg" alt=""></div>
									</div>
									<div class="item">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-3.jpg" alt="">
										</div>
									</div>
									<div class="item">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-4.jpg" alt=""> </div>
									</div>
								</div>
							</div>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam nemo itaque excepturi suscipit unde repudiandae
								nesciunt ad voluptates minima recusandae illum exercitationem, neque, ut totam ratione. Consequuntur consequatur
								ad nesciunt nulla voluptate voluptates qui natus labore facilis dolore odit vero ea sint inventore tenetur et eligendi
								nobis fugit veniam quod possimus, quasi, voluptatem. Cupiditate?</p>
							<ol>
								<li>Carlos Luis Umaña Castro</li>
								<li>Jose del Vale Oregon</li>
								<li>Angel Solis Fernandez</li>
								<li>Julia Soto Guevara</li>
							</ol>

						</article>

					</div>

				</div>
			</div>
		</section>
		<hr class="visible-xs" />

		<section id="guapiles">
			<div class="container">
				<div class="row">

					<div class="main col-sm-12">

						<h2>Ruta Guapiles</h2>

						<article>
							<div id="carousel-routes" class="carousel slideInUp" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carousel-routes" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-routes" data-slide-to="1"></li>
									<li data-target="#carousel-routes" data-slide-to="2"></li>
								</ol>

								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-1.jpg" alt=""></div>
									</div>
									<div class="item">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-3.jpg" alt="">
										</div>
									</div>
									<div class="item">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-4.jpg" alt=""> </div>
									</div>
								</div>
							</div>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam nemo itaque excepturi suscipit unde repudiandae
								nesciunt ad voluptates minima recusandae illum exercitationem, neque, ut totam ratione. Consequuntur consequatur
								ad nesciunt nulla voluptate voluptates qui natus labore facilis dolore odit vero ea sint inventore tenetur et eligendi
								nobis fugit veniam quod possimus, quasi, voluptatem. Cupiditate?</p>
							<ol>
								<li>Carlos Luis Umaña Castro</li>
								<li>Jose del Vale Oregon</li>
								<li>Angel Solis Fernandez</li>
								<li>Julia Soto Guevara</li>
							</ol>

						</article>

					</div>

				</div>
			</div>
		</section>
		<hr class="visible-xs" />

		<section id="san_carlos">

			<div class="container">
				<div class="row">

					<div class="main col-sm-12">

						<h2>Ruta San Carlos</h2>

						<article>
							<div id="carousel-routes" class="carousel slideInUp" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carousel-routes" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-routes" data-slide-to="1"></li>
									<li data-target="#carousel-routes" data-slide-to="2"></li>
								</ol>

								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-1.jpg" alt=""></div>
									</div>
									<div class="item">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-3.jpg" alt="">
										</div>
									</div>
									<div class="item">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-4.jpg" alt=""> </div>
									</div>
								</div>
							</div>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam nemo itaque excepturi suscipit unde repudiandae
								nesciunt ad voluptates minima recusandae illum exercitationem, neque, ut totam ratione. Consequuntur consequatur
								ad nesciunt nulla voluptate voluptates qui natus labore facilis dolore odit vero ea sint inventore tenetur et eligendi
								nobis fugit veniam quod possimus, quasi, voluptatem. Cupiditate?</p>
							<ol>
								<li>Carlos Luis Umaña Castro</li>
								<li>Jose del Vale Oregon</li>
								<li>Angel Solis Fernandez</li>
								<li>Julia Soto Guevara</li>
							</ol>

						</article>

					</div>

				</div>
			</div>
		</section>
		<hr class="visible-xs" />

		<section id="guanacaste">

			<div class="container">
				<div class="row">

					<div class="main col-sm-12">

						<h2>Ruta Guanacaste</h2>

						<article>
							<div id="carousel-routes" class="carousel slideInUp" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carousel-routes" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-routes" data-slide-to="1"></li>
									<li data-target="#carousel-routes" data-slide-to="2"></li>
								</ol>

								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-1.jpg" alt=""></div>
									</div>
									<div class="item">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-3.jpg" alt="">
										</div>
									</div>
									<div class="item">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-4.jpg" alt=""> </div>
									</div>
								</div>
							</div>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam nemo itaque excepturi suscipit unde repudiandae
								nesciunt ad voluptates minima recusandae illum exercitationem, neque, ut totam ratione. Consequuntur consequatur
								ad nesciunt nulla voluptate voluptates qui natus labore facilis dolore odit vero ea sint inventore tenetur et eligendi
								nobis fugit veniam quod possimus, quasi, voluptatem. Cupiditate?</p>
							<ol>
								<li>Carlos Luis Umaña Castro</li>
								<li>Jose del Vale Oregon</li>
								<li>Angel Solis Fernandez</li>
								<li>Julia Soto Guevara</li>
							</ol>
						</article>

					</div>

				</div>
			</div>
		</section>
		<hr class="visible-xs" />

		<section id="san_ramon">

			<div class="container">
				<div class="row">

					<div class="main col-sm-12">

						<h2>Ruta San Ramón</h2>

						<article>
							<div id="carousel-routes" class="carousel slideInUp" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carousel-routes" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-routes" data-slide-to="1"></li>
									<li data-target="#carousel-routes" data-slide-to="2"></li>
								</ol>

								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-1.jpg" alt=""></div>
									</div>
									<div class="item">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-3.jpg" alt="">
										</div>
									</div>
									<div class="item">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-4.jpg" alt=""> </div>
									</div>
								</div>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam nemo itaque excepturi suscipit unde repudiandae
								nesciunt ad voluptates minima recusandae illum exercitationem, neque, ut totam ratione. Consequuntur consequatur
								ad nesciunt nulla voluptate voluptates qui natus labore facilis dolore odit vero ea sint inventore tenetur et eligendi
								nobis fugit veniam quod possimus, quasi, voluptatem. Cupiditate?</p>
							<ol>
								<li>Carlos Luis Umaña Castro</li>
								<li>Jose del Vale Oregon</li>
								<li>Angel Solis Fernandez</li>
								<li>Julia Soto Guevara</li>
							</ol>
						</article>

					</div>

				</div>
			</div>
		</section>
		<hr class="visible-xs" />

		<section id="sur">

			<div class="container">
				<div class="row">
					<div class="main col-sm-12">
						<h2>Ruta Zona Sur</h2>

						<article>
							<div id="carousel-routes" class="carousel slideInUp" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carousel-routes" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-routes" data-slide-to="1"></li>
									<li data-target="#carousel-routes" data-slide-to="2"></li>
								</ol>

								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-1.jpg" alt=""></div>
									</div>
									<div class="item">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-3.jpg" alt="">
										</div>
									</div>
									<div class="item">
										<div class="image_carrousel">
											<img src="./../../Content/images/blog-4.jpg" alt=""> </div>
									</div>
								</div>
							</div>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam nemo itaque excepturi suscipit unde repudiandae
								nesciunt ad voluptates minima recusandae illum exercitationem, neque, ut totam ratione. Consequuntur consequatur
								ad nesciunt nulla voluptate voluptates qui natus labore facilis dolore odit vero ea sint inventore tenetur et eligendi
								nobis fugit veniam quod possimus, quasi, voluptatem. Cupiditate?</p>
							<ol>
								<li>Carlos Luis Umaña Castro</li>
								<li>Jose del Vale Oregon</li>
								<li>Angel Solis Fernandez</li>
								<li>Julia Soto Guevara</li>
							</ol>
						</article>

					</div>

				</div>
			</div>
		</section><br/>

	</div>


	<!--Acá se carga el footer-->
	<footer data-load="./../Shared/footer.html">
	</footer>

	<script type="text/javascript" src="./../../Content/js/libs/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="./../../Content/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./../../Content/js/libs/modernizr-2.5.3.min.js"></script>
	<script type="text/javascript" script-name="berkshire-swash" src="http://use.edgefonts.net/berkshire-swash.js"></script>
	<script type="text/javascript" src="../../Content/js/session.js"></script>

	<!--Esto funciona para cargar el header y/o footer-->
	<script>
		$(function () {
			$("[data-load]").each(function () {
				$(this).load($(this).data("load"), function () {});
			});
		})
	</script>


	<script>
		var anchor = document.querySelectorAll('button');

		[].forEach.call(anchor, function (anchor) {
			var open = false;
			anchor.onclick = function (event) {
				event.preventDefault();
				if (!open) {
					this.classList.add('close');
					open = true;
				} else {
					this.classList.remove('close');
					open = false;
				}
			}
		});
	</script>

</body>

</html>