<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="./../../Content/images/extintoresIcon.ico">

	<link rel="stylesheet" href="./../../Content/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="./../../Content/style.css">
	<link rel="stylesheet" href="./../../Content/style_footer.css">
	<link rel="stylesheet" href="./../../Content/font-awesome-4.7.0/css/font-awesome.min.css">

	<title>Extintores Universales - Rutas</title>

</head>

<body>

	<!--Acá se carga el header-->
	<header data-load="./../Shared/header.html">
	</header>

	<div class="container container-with-margin">

		<ol class="breadcrumb">
			<li><a href="/proyecto/Views/Home/">Inicio</a></li>
			<li class="active">Rutas</li>
		</ol>

		<section id="alajuela">

			<div class="container">
				<div class="row">

					<div class="main col-sm-12">

						<h1>Ruta Alajuela</h1>

						<article>
							<div id="carousel-routes" class="carousel slideInUp" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carousel-routes" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-routes" data-slide-to="1"></li>
									<li data-target="#carousel-routes" data-slide-to="2"></li>
								</ol>

								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="image_responsive">
											<img src="./../../Content/images/blog-1.jpg" alt=""></div>
									</div>
									<div class="item">
										<div class="image_responsive">
											<img src="./../../Content/images/blog-3.jpg" alt="">
										</div>
									</div>
									<div class="item">
										<div class="image_responsive">
											<img src="./../../Content/images/blog-4.jpg" alt=""> </div>
									</div>
								</div>
							</div>
							<p>Mauris dolor sapien,hendrerit eget lorem. Nunc interdum mi neque, et sollicitudin purus fermentum ut. Suspendisse
								faucibus nibh odio, a vehicula eros pharetra in. Maecenas ullamcorper commodo rutrum. In iaculis lectus vel augue
								eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam nemo itaque excepturi suscipit unde repudiandae
								nesciunt ad voluptates minima recusandae illum exercitationem, neque, ut totam ratione. Consequuntur consequatur
								ad nesciunt nulla voluptate voluptates qui natus labore facilis dolore odit vero ea sint inventore tenetur et eligendi
								nobis fugit veniam quod possimus, quasi, voluptatem. Cupiditate?</p>
							<ol>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, laboriosam tempore, veniam repudiandae dolor aperiam,
									iste porro amet odio eius earum tempora? Ex nobis suscipit, nam in eius, deserunt nihil.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odit est quae amet iure quia reiciendis maxime
									eos blanditiis tenetur voluptates, ab, obcaecati eaque accusamus dolorem a beatae mollitia quod?</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam aperiam vel cum quisquam enim reprehenderit sunt cupiditate
									ullam, id quidem perspiciatis dolore molestiae iure odio. Dolore fuga voluptate, deleniti placeat.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, eaque. Totam nisi ducimus dolor ab obcaecati temporibus
									asperiores, ad dignissimos dolorum unde fuga quae voluptates beatae quasi voluptatum culpa dolore?</li>
							</ol>
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam.</p>
							</blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus incidunt, beatae rem omnis distinctio, dolor, praesentium
								impedit quisquam nobis pariatur nulla expedita aliquid repellendus laudantium. A illum sint corrupti eligendi quae
								ab, facilis eos quas! Velit earum facere ex maxime.</p>
						</article>

					</div>

				</div>
			</div>
		</section>

		<section id="guapiles">

			<div class="container">
				<div class="row">

					<div class="main col-sm-12">

						<h1>Ruta Guapiles</h1>

						<article>
							<div id="carousel-routes" class="carousel slideInUp" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carousel-routes" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-routes" data-slide-to="1"></li>
									<li data-target="#carousel-routes" data-slide-to="2"></li>
								</ol>

								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="image_responsive">
											<img src="./../../Content/images/blog-1.jpg" alt=""></div>
									</div>
									<div class="item">
										<div class="image_responsive">
											<img src="./../../Content/images/blog-3.jpg" alt="">
										</div>
									</div>
									<div class="item">
										<div class="image_responsive">
											<img src="./../../Content/images/blog-4.jpg" alt=""> </div>
									</div>
								</div>
							</div>
							<p>Mauris dolor sapien,hendrerit eget lorem. Nunc interdum mi neque, et sollicitudin purus fermentum ut. Suspendisse
								faucibus nibh odio, a vehicula eros pharetra in. Maecenas ullamcorper commodo rutrum. In iaculis lectus vel augue
								eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam nemo itaque excepturi suscipit unde repudiandae
								nesciunt ad voluptates minima recusandae illum exercitationem, neque, ut totam ratione. Consequuntur consequatur
								ad nesciunt nulla voluptate voluptates qui natus labore facilis dolore odit vero ea sint inventore tenetur et eligendi
								nobis fugit veniam quod possimus, quasi, voluptatem. Cupiditate?</p>
							<ol>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, laboriosam tempore, veniam repudiandae dolor aperiam,
									iste porro amet odio eius earum tempora? Ex nobis suscipit, nam in eius, deserunt nihil.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odit est quae amet iure quia reiciendis maxime
									eos blanditiis tenetur voluptates, ab, obcaecati eaque accusamus dolorem a beatae mollitia quod?</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam aperiam vel cum quisquam enim reprehenderit sunt cupiditate
									ullam, id quidem perspiciatis dolore molestiae iure odio. Dolore fuga voluptate, deleniti placeat.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, eaque. Totam nisi ducimus dolor ab obcaecati temporibus
									asperiores, ad dignissimos dolorum unde fuga quae voluptates beatae quasi voluptatum culpa dolore?</li>
							</ol>
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam.</p>
							</blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus incidunt, beatae rem omnis distinctio, dolor, praesentium
								impedit quisquam nobis pariatur nulla expedita aliquid repellendus laudantium. A illum sint corrupti eligendi quae
								ab, facilis eos quas! Velit earum facere ex maxime.</p>
						</article>

					</div>

				</div>
			</div>
		</section>

		<section id="san_carlos">

			<div class="container">
				<div class="row">

					<div class="main col-sm-12">

						<h1>Ruta San Carlos</h1>

						<article>
							<div id="carousel-routes" class="carousel slideInUp" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carousel-routes" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-routes" data-slide-to="1"></li>
									<li data-target="#carousel-routes" data-slide-to="2"></li>
								</ol>

								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="image_responsive">
											<img src="./../../Content/images/blog-1.jpg" alt=""></div>
									</div>
									<div class="item">
										<div class="image_responsive">
											<img src="./../../Content/images/blog-3.jpg" alt="">
										</div>
									</div>
									<div class="item">
										<div class="image_responsive">
											<img src="./../../Content/images/blog-4.jpg" alt=""> </div>
									</div>
								</div>
							</div>
							<p>Mauris dolor sapien,hendrerit eget lorem. Nunc interdum mi neque, et sollicitudin purus fermentum ut. Suspendisse
								faucibus nibh odio, a vehicula eros pharetra in. Maecenas ullamcorper commodo rutrum. In iaculis lectus vel augue
								eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam nemo itaque excepturi suscipit unde repudiandae
								nesciunt ad voluptates minima recusandae illum exercitationem, neque, ut totam ratione. Consequuntur consequatur
								ad nesciunt nulla voluptate voluptates qui natus labore facilis dolore odit vero ea sint inventore tenetur et eligendi
								nobis fugit veniam quod possimus, quasi, voluptatem. Cupiditate?</p>
							<ol>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, laboriosam tempore, veniam repudiandae dolor aperiam,
									iste porro amet odio eius earum tempora? Ex nobis suscipit, nam in eius, deserunt nihil.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odit est quae amet iure quia reiciendis maxime
									eos blanditiis tenetur voluptates, ab, obcaecati eaque accusamus dolorem a beatae mollitia quod?</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam aperiam vel cum quisquam enim reprehenderit sunt cupiditate
									ullam, id quidem perspiciatis dolore molestiae iure odio. Dolore fuga voluptate, deleniti placeat.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, eaque. Totam nisi ducimus dolor ab obcaecati temporibus
									asperiores, ad dignissimos dolorum unde fuga quae voluptates beatae quasi voluptatum culpa dolore?</li>
							</ol>
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam.</p>
							</blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus incidunt, beatae rem omnis distinctio, dolor, praesentium
								impedit quisquam nobis pariatur nulla expedita aliquid repellendus laudantium. A illum sint corrupti eligendi quae
								ab, facilis eos quas! Velit earum facere ex maxime.</p>
						</article>

					</div>

				</div>
			</div>
		</section>

		<section id="guanacaste">

			<div class="container">
				<div class="row">

					<div class="main col-sm-12">

						<h1>Ruta Guanacaste</h1>

						<article>
							<div id="carousel-routes" class="carousel slideInUp" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carousel-routes" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-routes" data-slide-to="1"></li>
									<li data-target="#carousel-routes" data-slide-to="2"></li>
								</ol>

								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="image_responsive">
											<img src="./../../Content/images/blog-1.jpg" alt=""></div>
									</div>
									<div class="item">
										<div class="image_responsive">
											<img src="./../../Content/images/blog-3.jpg" alt="">
										</div>
									</div>
									<div class="item">
										<div class="image_responsive">
											<img src="./../../Content/images/blog-4.jpg" alt=""> </div>
									</div>
								</div>
							</div>
							<p>Mauris dolor sapien,hendrerit eget lorem. Nunc interdum mi neque, et sollicitudin purus fermentum ut. Suspendisse
								faucibus nibh odio, a vehicula eros pharetra in. Maecenas ullamcorper commodo rutrum. In iaculis lectus vel augue
								eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam nemo itaque excepturi suscipit unde repudiandae
								nesciunt ad voluptates minima recusandae illum exercitationem, neque, ut totam ratione. Consequuntur consequatur
								ad nesciunt nulla voluptate voluptates qui natus labore facilis dolore odit vero ea sint inventore tenetur et eligendi
								nobis fugit veniam quod possimus, quasi, voluptatem. Cupiditate?</p>
							<ol>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, laboriosam tempore, veniam repudiandae dolor aperiam,
									iste porro amet odio eius earum tempora? Ex nobis suscipit, nam in eius, deserunt nihil.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odit est quae amet iure quia reiciendis maxime
									eos blanditiis tenetur voluptates, ab, obcaecati eaque accusamus dolorem a beatae mollitia quod?</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam aperiam vel cum quisquam enim reprehenderit sunt cupiditate
									ullam, id quidem perspiciatis dolore molestiae iure odio. Dolore fuga voluptate, deleniti placeat.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, eaque. Totam nisi ducimus dolor ab obcaecati temporibus
									asperiores, ad dignissimos dolorum unde fuga quae voluptates beatae quasi voluptatum culpa dolore?</li>
							</ol>
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam.</p>
							</blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus incidunt, beatae rem omnis distinctio, dolor, praesentium
								impedit quisquam nobis pariatur nulla expedita aliquid repellendus laudantium. A illum sint corrupti eligendi quae
								ab, facilis eos quas! Velit earum facere ex maxime.</p>
						</article>

					</div>

				</div>
			</div>
		</section>

		<section id="san_ramon">

			<div class="container">
				<div class="row">

					<div class="main col-sm-12">

						<h1>Ruta San Ramón</h1>

						<article>
							<div id="carousel-routes" class="carousel slideInUp" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carousel-routes" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-routes" data-slide-to="1"></li>
									<li data-target="#carousel-routes" data-slide-to="2"></li>
								</ol>

								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="image_responsive">
											<img src="./../../Content/images/blog-1.jpg" alt=""></div>
									</div>
									<div class="item">
										<div class="image_responsive">
											<img src="./../../Content/images/blog-3.jpg" alt="">
										</div>
									</div>
									<div class="item">
										<div class="image_responsive">
											<img src="./../../Content/images/blog-4.jpg" alt=""> </div>
									</div>
								</div>
							</div>
							<p>Mauris dolor sapien,hendrerit eget lorem. Nunc interdum mi neque, et sollicitudin purus fermentum ut. Suspendisse
								faucibus nibh odio, a vehicula eros pharetra in. Maecenas ullamcorper commodo rutrum. In iaculis lectus vel augue
								eleifend dignissim. Aenean viverra semper sollicitudin.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam nemo itaque excepturi suscipit unde repudiandae
								nesciunt ad voluptates minima recusandae illum exercitationem, neque, ut totam ratione. Consequuntur consequatur
								ad nesciunt nulla voluptate voluptates qui natus labore facilis dolore odit vero ea sint inventore tenetur et eligendi
								nobis fugit veniam quod possimus, quasi, voluptatem. Cupiditate?</p>
							<ol>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, laboriosam tempore, veniam repudiandae dolor aperiam,
									iste porro amet odio eius earum tempora? Ex nobis suscipit, nam in eius, deserunt nihil.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odit est quae amet iure quia reiciendis maxime
									eos blanditiis tenetur voluptates, ab, obcaecati eaque accusamus dolorem a beatae mollitia quod?</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam aperiam vel cum quisquam enim reprehenderit sunt cupiditate
									ullam, id quidem perspiciatis dolore molestiae iure odio. Dolore fuga voluptate, deleniti placeat.</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, eaque. Totam nisi ducimus dolor ab obcaecati temporibus
									asperiores, ad dignissimos dolorum unde fuga quae voluptates beatae quasi voluptatum culpa dolore?</li>
							</ol>
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam.</p>
							</blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus incidunt, beatae rem omnis distinctio, dolor, praesentium
								impedit quisquam nobis pariatur nulla expedita aliquid repellendus laudantium. A illum sint corrupti eligendi quae
								ab, facilis eos quas! Velit earum facere ex maxime.</p>
						</article>

					</div>

				</div>
			</div>
		</section>

		<section id="sur">

			<div class="container">
				<div class="row">

					<div class="main col-sm-12">

						<h1>Ruta Zona Sur</h1>

						<article>
								<div id="carousel-routes" class="carousel slideInUp" data-ride="carousel">
									<ol class="carousel-indicators">
										<li data-target="#carousel-routes" data-slide-to="0" class="active"></li>
										<li data-target="#carousel-routes" data-slide-to="1"></li>
										<li data-target="#carousel-routes" data-slide-to="2"></li>
									</ol>

									<div class="carousel-inner" role="listbox">
										<div class="item active">
											<div class="image_responsive">
												<img src="./../../Content/images/blog-1.jpg" alt=""></div>
										</div>
										<div class="item">
											<div class="image_responsive">
												<img src="./../../Content/images/blog-3.jpg" alt="">
											</div>
										</div>
										<div class="item">
											<div class="image_responsive">
												<img src="./../../Content/images/blog-4.jpg" alt=""> </div>
										</div>
									</div>
								</div>
								<p>Mauris dolor sapien,hendrerit eget lorem. Nunc interdum mi neque, et sollicitudin purus fermentum ut. Suspendisse
									faucibus nibh odio, a vehicula eros pharetra in. Maecenas ullamcorper commodo rutrum. In iaculis lectus vel augue
									eleifend dignissim. Aenean viverra semper sollicitudin.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam nemo itaque excepturi suscipit unde repudiandae
									nesciunt ad voluptates minima recusandae illum exercitationem, neque, ut totam ratione. Consequuntur consequatur
									ad nesciunt nulla voluptate voluptates qui natus labore facilis dolore odit vero ea sint inventore tenetur et eligendi
									nobis fugit veniam quod possimus, quasi, voluptatem. Cupiditate?</p>
								<ol>
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, laboriosam tempore, veniam repudiandae dolor aperiam,
										iste porro amet odio eius earum tempora? Ex nobis suscipit, nam in eius, deserunt nihil.</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odit est quae amet iure quia reiciendis maxime
										eos blanditiis tenetur voluptates, ab, obcaecati eaque accusamus dolorem a beatae mollitia quod?</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam aperiam vel cum quisquam enim reprehenderit sunt
										cupiditate ullam, id quidem perspiciatis dolore molestiae iure odio. Dolore fuga voluptate, deleniti placeat.</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, eaque. Totam nisi ducimus dolor ab obcaecati temporibus
										asperiores, ad dignissimos dolorum unde fuga quae voluptates beatae quasi voluptatum culpa dolore?</li>
								</ol>
								<blockquote>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
										aliqua. Ut enim ad minim veniam.</p>
								</blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus incidunt, beatae rem omnis distinctio, dolor, praesentium
									impedit quisquam nobis pariatur nulla expedita aliquid repellendus laudantium. A illum sint corrupti eligendi quae
									ab, facilis eos quas! Velit earum facere ex maxime.</p>
						</article>

					</div>

				</div>
			</div>
		</section>

	</div>


	<!--Acá se carga el footer-->
	<footer data-load="./../Shared/footer.html">
	</footer>

	<script type="text/javascript" src="./../../Content/js/libs/jquery-3.2.1.min.js"></script> 
	<script type="text/javascript" src="./../../Content/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./../../Content/js/libs/modernizr-2.5.3.min.js"></script>
	<script type="text/javascript" script-name="berkshire-swash" src="http://use.edgefonts.net/berkshire-swash.js"></script>
	<script type="text/javascript" src="../../Content/js/session.js"></script>

	<!--Esto funciona para cargar el header y/o footer-->
	<script>
		$(function () {
			$("[data-load]").each(function () {
				$(this).load($(this).data("load"), function () {
				});
			});
		})
	</script>


	<script>
		var anchor = document.querySelectorAll('button');

		[].forEach.call(anchor, function (anchor) {
			var open = false;
			anchor.onclick = function (event) {
				event.preventDefault();
				if (!open) {
					this.classList.add('close');
					open = true;
				}
				else {
					this.classList.remove('close');
					open = false;
				}
			}
		});
	</script>

</body>

</html>