<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="./../../Content/images/extintoresIcon.ico">

  <link rel="stylesheet" href="./../../Content/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./../../Content/style.css">
  <link rel="stylesheet" href="./../../Content/style_footer.css">
  <link rel="stylesheet" href="./../../Content/font-awesome-4.7.0/css/font-awesome.min.css">

</head>

<body>

  <div class="container-fluid"><br/>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="form-group">
          <label for="infoNombre">Nombre</label>
          <input type="text " class="form-control " id="infoNombre">
        </div>
        <div class="form-group">
          <label for="infoApellidos">Apellidos</label>
          <input type="text" class="form-control" id="infoApellidos">
        </div>
        <div class="form-group">
          <label for="infoTelefono">Teléfono</label>
          <input type="text " class="form-control" id="infoTelefono">
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1">
        <div class="form-group">
          <label for="infoDireccion ">Dirección</label>
          <input type="text" class="form-control" id="infoDireccion">
        </div>
        <div class="form-group">
          <label for="infoCiudad">Ciudad/Pueblo</label>
          <input type="text" class="form-control " id="infoCiudad">
        </div>
        <div class="form-group">
          <label for="infoCasa">Detalles de calle/casa/...</label>
          <input type="text" class="form-control" id="infoCasa" placeholder="Ingrese los detalles que crea necesario para llegar al lugar">
        </div>
      </div>
    </div>
    <button class="btn btn-default" onclick="GuardarDireccion();">Guardar Datos</button>

  </div>


  <script type="text/javascript" src="./../../Content/js/libs/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="./../../Content/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./../../Content/js/libs/modernizr-2.5.3.min.js"></script>
  <script type="text/javascript" script-name="berkshire-swash" src="http://use.edgefonts.net/berkshire-swash.js"></script>
  <script type="text/javascript" src="../../Content/js/session.js"></script>
  <script type="text/javascript" src="../../Content/js/dashboard.js"></script>

  <!--Esto funciona para cargar el header y/o footer-->
  <script>
    $(function () {
      $("[data-load]").each(function () {
        $(this).load($(this).data("load"), function () {});
      });
    })
  </script>

  <script>
    var anchor = document.querySelectorAll('button');

    [].forEach.call(anchor, function (anchor) {
      var open = false;
      anchor.onclick = function (event) {
        event.preventDefault();
        if (!open) {
          this.classList.add('close');
          open = true;
        } else {
          this.classList.remove('close');
          open = false;
        }
      }
    });
  </script>
  <script>
    $(function () {
      window.onload = Cargar();
    })
  </script>

</body>

</html>