.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover::after {
  background-color: transparent;
  border-color: transparent;
}

/* Título y letra del logo*/
.navbar-style {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 2.3em "berkshire-swash", Helvetica, sans-serif;
  color: rgba(255,0,0,1) !important;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0 1px 2px rgba(0,0,0,1) !important;
}


.image_responsive img {
  height: 100%;
  width: 100%;
  margin-top: 20px;
}
.image_carrousel img {
  height: 100%;
  width: 100%;
}

.full {
  margin: 0 auto;
  width: 100%;
}

.article {
  border-style: none;
}

.method {
  border-style: ridge;
  margin-bottom: 10px;
}

.add {
  margin-top: 18px;
}
@media screen and (max-width: 2000px) {
  .navbar-brand > img {
    width: 60px;
    height: 60px;
  }

  .first-nav-bar {
    margin-top: 50px;
  }

  .pull-right {
    position: absolute;
    top: 0;
    right: 5px;
  }

  .container-with-margin {
    margin-top: 140px;
  }

}

/*  no optimizado */
@media screen and (max-width: 1024px) {
  .navbar-brand > img {
    width: 70px;
    height: 70px;
  }

  .first-nav-bar {
    margin-top: 50px;
  }

  .container-with-margin {
    margin-top: 195px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-brand > img {
    width: 60px;
    height: 60px;
  }
  /* Esto es para cuando se pasa el mouse por encima se baje el menú, hay que adaptarlo para que no pase en movil
  ul.nav li.dropdown:hover {
    display: block;
  }
  */

  .first-nav-bar {
    margin-top: 50px;
  }

  .container-with-margin {
    margin-top: 195px;
  }

  .image_responsive img {
    height: 300px;
    width: 100%;
    margin-top: 20px;
  }

}
@media screen and (max-width: 480px) {
  .navbar-brand > img {
    width: 50px;
    height: 50px;
  }

  .navbar-toggle > span {
    padding-top: 0;
    position: static;
    padding-left: 10px;

  }

  .navbar-fixed-bottom,
  .navbar-fixed-top {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent;
  }

  .first-nav-bar {
    margin-top: 0;
    top: 0;
  }

  .navbar-toggle {
    position: absolute;
    margin-left: 50%;
    margin-top: 50px;
    z-index: 2;
  }

  .container-with-margin {
    margin-top: 0;
  }

  .article {
    border-style: ridge;
    margin: 4px;
    border-radius: 10px;
  }

  .image_responsive img {
    height: 75%;
    width: 75%;
    margin-top: 20px;
  }

}
@media screen and (max-width: 320px) {
  .navbar-brand > img {
    width: 40px;
    height: 40px;
  }

  .navbar-toggle > span {
    padding-top: 0;
    position: static;
    padding-left: 10px;

  }

  .navbar-style {
    font: normal 1.5em "berkshire-swash", Helvetica, sans-serif;
  }

  .navbar-fixed-bottom,
  .navbar-fixed-top {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent;
  }

  .first-nav-bar {
    margin-top: 0;
    top: 0;
  }

  .navbar-toggle {
    position: absolute;
    margin-left: 50%;
    margin-top: 50px;
    z-index: 2;
  }

  .article {
    border-style: ridge;
    margin: 4px;
    border-radius: 10px;
  }

  .image_responsive img {
    height: 75%;
    width: 75%;
    margin-top: 20px;
  }

}

/* Color de los botones: Iniciar sesión y registrarse*/
.btn-primary {
  color: #fff;
  background-color: gray;
  border-color: gray;
}

header .header-bar {
  display: block;
  text-transform: uppercase;
  position: relative;
}

header .header-bar .fa {
  margin-left: 10px;
}

header .header-bar .copyright {
  display: inline-block;
  padding: 20px 0;
}

/* Esto sucede cuando detecta que está en un class="social" y dentro de ello tipo "fa fa-" y los eidata*/
.social [class*="fa fa-"] {
  background-color: gray;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: auto 3px;
  width: 30px;
  font-size: 15px;
  text-align: center;
}
/* Acá lo que hace es cuando se hace un hover cambia de color dependiendo del 'fa' */
.fa-facebook:hover {
  background-color: #0074D9;
}

.fa-twitter:hover {
  background-color: #46c0fb;
}

.fa-youtube:hover {
  background-color: red;
}

.fa-google-plus:hover {
  background-color: firebrick;
}

.fa-whatsapp:hover {
  background-color: forestgreen;
}

.fa-skype:hover {
  background-color: #0074D9;
}

.image_responsive img {
  margin-top: 20px;
}

.body {
  padding-top: 0 !important;
}
