<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./../../Content/images/extintoresIcon.ico">

    <link rel="stylesheet" href="./../../Content/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../../Content/style.css">
    <link rel="stylesheet" href="./../../Content/style_footer.css">
    <link rel="stylesheet" href="./../../Content/font-awesome-4.7.0/css/font-awesome.min.css">


<title>Extintores Universales - Marcas</title>
</head>

<body>
    <!--Acá se carga el header-->
    <header data-load="./../Shared/header.html">
    </header>

    <div class="container container-with-margin">

        <ol class="breadcrumb">
            <li><a href="../Home/Index.html">Inicio</a></li>
            <li class="active">Marcas</li>
        </ol>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Marcas</h1>
                    <p class="lead">Acá están las marcas con las que trabajamos</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="image_responsive">
                                <img src="./../../Content/images/portfolio-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3><a href="#">Amerex</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                                Nam laudantium, provident culpa saepe. Lorem ipsum dolor sit amet.</p>
                            <a href="#" class="btn btn-default btn-sm">Leer más</i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="image_responsive">
                                <img src="./../../Content/images/portfolio-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3 row><a href="#">Badger</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                                Nam laudantium, provident culpa saepe. Lorem ipsum dolor sit amet.</p>
                            <a href="#" class="btn btn-default btn-sm">Leer más</i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="image_responsive">
                                <img src="./../../Content/images/portfolio-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3 row><a href="#">Buckeye</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                                Nam laudantium, provident culpa saepe. Lorem ipsum dolor sit amet.</p>
                            <a href="#" class="btn btn-default btn-sm">Leer más</i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="image_responsive">
                                <img src="./../../Content/images/portfolio-4.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3 row><a href="#">Preven</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                                Nam laudantium, provident culpa saepe. Lorem ipsum dolor sit amet.</p>
                            <a href="#" class="btn btn-default btn-sm">Leer más</i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="image_responsive">
                                <img src="./../../Content/images/portfolio-5.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3 row><a href="#">JDUN</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                                Nam laudantium, provident culpa saepe. Lorem ipsum dolor sit amet.</p>
                            <a href="#" class="btn btn-default btn-sm">Leer más</i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="image_responsive">
                                <img src="./../../Content/images/portfolio-6.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3 row><a href="#">System</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                                Nam laudantium, provident culpa saepe. Lorem ipsum dolor sit amet.</p>
                            <a href="#" class="btn btn-default btn-sm">Leer más</i></a>
                        </div>
                    </div>
                </div>
                <nav>
                    <ul class="pagination">
                        <li><a href="#" aria-label="Anterior"><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Siguiente"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    </div>

    <!--Acá se carga el footer-->
    <footer data-load="./../Shared/footer.html">
    </footer>

    <script type="text/javascript" src="./../../Content/js/libs/jquery-3.2.1.min.js"></script> 
    <script type="text/javascript" src="./../../Content/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./../../Content/js/libs/modernizr-2.5.3.min.js"></script>
    <script type="text/javascript" script-name="berkshire-swash" src="http://use.edgefonts.net/berkshire-swash.js"></script>
    <script type="text/javascript" src="../../Content/js/session.js"></script>

    <!--Esto funaciona para cargar el header y/o footer-->
    <script>
        $(function () {
            $("[data-load]").each(function () {
                $(this).load($(this).data("load"), function () {
                });
            });
        })
    </script>


    <script>
        var anchor = document.querySelectorAll('button');

        [].forEach.call(anchor, function (anchor) {
            var open = false;
            anchor.onclick = function (event) {
                event.preventDefault();
                if (!open) {
                    this.classList.add('close');
                    open = true;
                }
                else {
                    this.classList.remove('close');
                    open = false;
                }
            }
        });
    </script>

</body>

</html>