<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="./../../Content/images/extintoresIcon.ico">

	<link rel="stylesheet" href="./../../Content/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="./../../Content/style.css">
	<link rel="stylesheet" href="./../../Content/style_footer.css">
	<link rel="stylesheet" href="./../../Content/font-awesome-4.7.0/css/font-awesome.min.css">

	<title>Extintores Universales - Metodo de pago</title>
</head>

<body>
	<!--Acá se carga el header-->
	<header data-load="./../Shared/header.html">
	</header>

	<div class="container container-with-margin">
		<ol class="breadcrumb">
			<li><a href="../Home/Index.html">Inicio</a></li>
			<li class="active">Método de pago</li>
		</ol>
		<div class="container row">
			<h2 class="page-title">Método de pago</h2>
			<div class="separator-2"></div>
			<legend>Pago</legend>
			<div class="container-fluid method">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<label><input name="optionsRadios" id="optionsRadios2" type="radio" value="option3">En efectivo (Sucursal)</label>
					</div>
					<div class="col-xs-12 col-sm-11 col-sm-push-1 col-md-11 col-md-push-1">
						<select class="form-control">
							<option value="01" selected="selected">Aguas Zarcas, San Carlos</option>
							<option value="03">Ciudad Quesada, San Carlos</option>
							<option value="03">Alajuela centro</option>
							<option value="04">Guapiles centro</option>
						</select>
					</div>
				</div>

				<br/>
			</div>
			<div class="container-fluid method">
				<div class="row">
					<div class="col-md-3 col-lg-3">
						<label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
									Tarjeta de crédito<i class="fa fa-cc-visa pl-10"></i><i class="fa fa-cc-amex pl-10"></i><i class="fa fa-cc-mastercard pl-10"></i>
									</label>
					</div>
					<div class="col-md-9 col-lg-9">
						<div class="form-group">
							<div class="row">
								<div class="col-md-3">
									<label for="paymentFirstName">Nombre</label>
									<input type="text" class="form-control" id="paymentFirstName">
								</div>
								<div class="col-md-3">
									<label for="paymentLastName">Apellidos</label>
									<input type="text" class="form-control" id="paymentLastName">
								</div>
								<div class="col-md-3">
									<label>Escoge tarjeta</label>
									<select class="form-control">
												<option value="visa" selected="selected">VISA</option>
												<option value="master-card">Master Card</option>
												<option value="american-express">American Express</option>
											</select>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-3 col-md-push-1 col-lg-3">
						<label>Número de tarjeta</label>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
						<div class="row">
							<div class="col-xs-6 col-sm-3 col-md-2 form-group">
								<input type="text" class="form-control">
							</div>
							<div class="col-xs-6 col-sm-3 col-md-2 form-group">
								<input type="text" class="form-control">
							</div>
							<div class="col-xs-6 col-sm-3 col-md-2 form-group">
								<input type="text" class="form-control">
							</div>
							<div class="col-xs-6 col-sm-3 col-md-2 form-group">
								<input type="text" class="form-control">
							</div>
						</div>
					</div>
				</div><br/>
				<div class="row">
					<div class="col-md-3 col-md-push-1 col-lg-3">
						<label>Fecha de expiración</label>
					</div>
					<div class="col-md-9 col-lg-9">
						<div class="row">
							<div class=" col-xs-6 col-md-2 form-group">
								<select class="form-control">
															<option value="01" selected="selected">01</option>
															<option value="03">02</option>
															<option value="03">03</option>
															<option value="04">04</option>
															<option value="05">05</option>
															<option value="06">06</option>
															<option value="07">07</option>
															<option value="08">08</option>
															<option value="09">09</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="12">12</option>
														</select>
							</div>
							<div class="col-xs-6 col-md-2 form-group">
								<select class="form-control">
															<option value="2014" selected="selected">2014</option>
															<option value="2015">2015</option>
															<option value="2016">2016</option>
															<option value="2017">2017</option>
															<option value="2018">2018</option>
															<option value="2019">2019</option>
															<option value="2020">2020</option>
															<option value="2021">2021</option>
															<option value="2022">2022</option>
															<option value="2023">2023</option>
															<option value="2024">2024</option>
															<option value="2025">2025</option>
														</select>
							</div>
							<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
								<label>CVS</label>
							</div>
							<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
								<input type="text" class="form-control">
							</div>
						</div>
					</div>
				</div>
				<br />
			</div>
			<div class="container text-right"><br/>
				<a href="./Checkout.html" class="btn btn-group btn-default"><i class="icon-left-open-big"></i> Ir atrás</a>
				<a onclick="FinalizarCompra();" class="btn btn-group btn-default">Finalizar compra<i class="icon-right-open-big"></i></a>
			</div><br />
		</div>

	</div>

	<!--Acá se carga el footer-->
	<footer data-load="./../Shared/footer.html">
	</footer>

	<script type="text/javascript" src="./../../Content/js/libs/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="./../../Content/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./../../Content/js/libs/modernizr-2.5.3.min.js"></script>
	<script type="text/javascript" script-name="berkshire-swash" src="http://use.edgefonts.net/berkshire-swash.js"></script>
	<script type="text/javascript" src="../../Content/js/session.js"></script>
	<script type="text/javascript" src="../../Content/js/shopping.js"></script>

	<!--Esto funciona para cargar el header y/o footer-->
	<script>
		$(function () {
			$("[data-load]").each(function () {
				$(this).load($(this).data("load"), function () {});
			});
		})
	</script>
	<script>
		$(function () {
			window.onload = IrMetodoPago();
		})
	</script>

</body>

</html>