<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="./../../Content/images/extintoresIcon.ico">

  <link rel="stylesheet" href="./../../Content/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./../../Content/style.css">
  <link rel="stylesheet" href="./../../Content/font-awesome-4.7.0/css/font-awesome.min.css">

  <title>Extintores Universales - Productos</title>
</head>

<body>
   <!--Acá se carga el header-->
  <header data-load="./../Shared/header.html">
  </header>

  <div class="container container-with-margin">

    <ol class="breadcrumb">
      <li><a href="/proyecto/Views/Home">Inicio</a></li>
      <li class="active">Productos</li>
    </ol>

  </div>

  <section class="main-container">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills" role="tablist">
            <li class="active"><a href="#pill-1" role="tab" data-toggle="tab" title="Productos"><i class="icon-star"></i> Productos</a></li>
            <li><a href="#pill-2" role="tab" data-toggle="tab" title="Mas vendidos"><i class=" icon-up-1"></i> Más vendidos</a></li>
          </ul>
          <br />
          <div class="tab-content">
            <div class="tab-pane active" id="pill-1">
              <div class="row">
                <div class="col-md-6">
                    <div class="row">
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="image_responsive">
                          <img src="./../../Content/images/product-2.jpg" alt="">
                          <a href="./../../Content/images/product-2.jpg"></a>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <h3><a href="/proyecto/Views/Products/Shop-Product.html">Extintor ABC 10lbs</a></h3>
                          <p>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                          </p>
                          <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</p>
                          <div class="clearfix">
                            <span class="price"><del>₡45.000,00</del>₡35.000,00</span>
                            <a href="#" class="pull-right btn btn-sm">Agregar<i class="fa fa-shopping-cart"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="image_responsive">
                          <img src="./../../Content/images/product-1.jpg" alt="">
                          <a href="./../../Content/images/product-1.jpg"></a>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <h3><a href="/proyecto/Views/Products/Shop-Product.html">Extintor ABC 20lbs</a></h3>
                          <p>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star"></i>
                          </p>
                          <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</p>
                          <div class="clearfix">
                            <span class="price"><del>₡45.000,00</del>₡35.000,00</span>
                            <a href="#" class="pull-right btn btn-sm">Agregar<i class="fa fa-shopping-cart"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="image_responsive">
                          <img src="./../../Content/images/product-4.jpg" alt="">
                          <a href="./../../Content/images/product-4.jpg"></a>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <h3><a href="/proyecto/Views/Products/Shop-Product.html">Extintor ABC 5lbs</a></h3>
                          <p>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star"></i>
                          </p>
                          <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</p>
                          <div class="clearfix">
                            <span class="price"><del>₡45.000,00</del>₡35.000,00</span>
                            <a href="#" class="pull-right btn btn-sm">Agregar<i class="fa fa-shopping-cart"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
         <div class="row">
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="image_responsive">
                          <img src="./../../Content/images/product-3.jpg" alt="">
                          <a href="./../../Content/images/product-3.jpg"></a>

                        </div>
                      </div>
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <h3><a href="/proyecto/Views/Products/Shop-Product.html">Extintor ABC 2.2lbs</a></h3>
                          <p>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star"></i>
                          </p>
                          <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</p>
                          <div class="clearfix">
                            <span class="price"><del>₡45.000,00</del>₡35.000,00</span>
                            <a href="#" class="pull-right btn btn-sm">Agregar<i class="fa fa-shopping-cart"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="image_responsive">
                          <img src="./../../Content/images/product-7.jpg" alt="">
                          <a href="./../../Content/images/product-7.jpg"></a>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <h3><a href="/proyecto/Views/Products/Shop-Product.html">Extintor BC 5lbs</a></h3>
                          <p>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star"></i>
                          </p>
                          <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</p>
                          <div class="clearfix">
                            <span class="price"><del>₡45.000,00</del>₡35.000,00</span>
                            <a href="#" class="pull-right btn btn-sm">Agregar<i class="fa fa-shopping-cart"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="image_responsive">
                          <img src="./../../Content/images/product-5.jpg" alt="">
                          <a href="./../../Content/images/product-5.jpg"></a>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <h3><a href="/proyecto/Views/Products/Shop-Product.html">Extintor BC 10lbs</a></h3>
                          <p>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </p>
                          <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</p>
                          <div class="clearfix">
                            <span class="price"><del>₡45.000,00</del>₡35.000,00</span>
                            <a href="#" class="pull-right btn btn-sm">Agregar<i class="fa fa-shopping-cart"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="image_responsive">
                          <img src="./../../Content/images/product-6.jpg" alt="">
                          <a href="./../../Content/images/product-6.jpg"></a>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <h3><a href="/proyecto/Views/Products/Shop-Product.html">Extintor BC 15lbs</a></h3>
                          <p>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                          </p>
                          <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</p>
                          <div class="clearfix">
                            <span class="price"><del>₡45.000,00</del>₡35.000,00</span>
                            <a href="#" class="pull-right btn btn-sm">Agregar<i class="fa fa-shopping-cart"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="image_responsive">
                          <img src="./../../Content/images/product-8.jpg" alt="">
                          <a href="./../../Content/images/product-8.jpg"></a>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <h3><a href="/proyecto/Views/Products/Shop-Product.html">Extintor BC 20lbs</a></h3>
                          <p>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </p>
                          <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</p>
                          <div class="clearfix">
                            <span class="price"><del>₡45.000,00</del>₡35.000,00</span>
                            <a href="#" class="pull-right btn btn-sm">Agregar<i class="fa fa-shopping-cart"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <nav class="text-center">
              <ul class="pagination">
                <li><a href="#" aria-label="Anterior"><i class="fa fa-angle-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Siguiente"><i class="fa fa-angle-right"></i></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
  </section>

  <!--Acá se carga el footer-->
  <footer data-load="./../Shared/footer.html">
  </footer>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./../../Content/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./../../Content/js/libs/modernizr-2.5.3.min.js"></script>
  <script type="text/javascript" script-name="berkshire-swash" src="http://use.edgefonts.net/berkshire-swash.js"></script>
  <script type="text/javascript" src="../../Content/js/script.js"></script>

  <!--Esto funciona para cargar el header y/o footer-->
  <script>
    $(function () {
      $("[data-load]").each(function () {
        $(this).load($(this).data("load"), function () {
        });
      });
    })
  </script>

  <script>
    var anchor = document.querySelectorAll('button');

    [].forEach.call(anchor, function (anchor) {
      var open = false;
      anchor.onclick = function (event) {
        event.preventDefault();
        if (!open) {
          this.classList.add('close');
          open = true;
        }
        else {
          this.classList.remove('close');
          open = false;
        }
      }
    });
  </script>


</body>

</html>