<footer id="myFooter">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-4">
      <i class="fa fa-map-marker"></i><label>Costa Rica, Alajuela, San Carlos</label><br>
      <br>
      <i class="fa fa-phone"></i><label>+506 24740780 / +506 24743674</label><br>
      <br>
      <i class="fa fa-envelope"></i> <label><a href="mailto:info@extintoresuniversales.com">info@extintoresuniversales.com</a></label><br>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-3 hidden-sm hidden-xs">
      <h5>A cerca de nosotros</h5>
      <p> Extintores Universales se califica por brindar el mejor servicio para todos nuestros clientes.</p>
      <p> Extintores Universales se califica por brindar el mejor servicio para todos nuestros clientes.</p>
    </div>
    <div class="footer-distributed col-xs-12 col-sm-6 col-sm-offset-1 col-md-4">
        <hr class="visible-xs" />
      <p>¿Necesitas recargar? ¡Déjanos tu mensaje!</p>
      <form action="#" method="post">
        <input type="number" name="phone" placeholder="Teléfono/Celular" class="center-block" />
        <input class="center-block" type="text" name="what" placeholder="Dirección" />
        <textarea class="center-block" name="message" placeholder="Descripción de la recarga"></textarea>
        <button>Enviar</button>
      </form>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2017 Copyright Extintores Universales <img src="./../../Content/images/logo.png" width="25px" height="25px" alt="">
    </p>
  </div>
</footer>