<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div style="margin-top: 60px">
          <div>
            <i class="fa fa-map-marker"></i><label>Costa Rica, Alajuela, San Carlos</label><br>
            <br>
            <i class="fa fa-phone"></i><label>+506 24740780 / +506 24743674</label><br>
            <br>
            <i class="fa fa-envelope"></i> <label><a href="mailto:info@extintoresuniversales.com">info@extintoresuniversales.com</a></label><br>
          </div>
        </div>
      </div>
      <div class="col-sm-4 hidden-sm hidden-xs" style="margin-top: 65px">
        <h5>A cerca de nosotros</h5>
        <p> Extintores Universales se califica por brindar el mejor servicio para todos nuestros clientes.</p>
        <p> Extintores Universales se califica por brindar el mejor servicio para todos nuestros clientes.</p>
        <p> Extintores Universales se califica por brindar el mejor servicio para todos nuestros clientes.</p>
        </div>
        <hr class="hidden-lg hidden-sm hidden-md" />
      <div class="col-sm-4">
        <div class="footer-distributed">
          <p>¿Necesitas recargar? ¡Déjanos tu mensaje!</p>
          <form action="#" method="post">
            <input type="number" name="phone" placeholder="Teléfono/Celular" />
            <input type="text" name="what" placeholder="Dirección" />
            <textarea name="message" placeholder="Descripción de la recarga"></textarea>
            <button>Enviar</button>
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="footer-copyright">
    <p>© 2017 Copyright Extintores Universales <img src="./../../Content/images/logo.png" width="25px" height="25px" alt="">
     </p>
  </div>
</footer>